.body {
  background-image: url('/redCube_BackgroundImage.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10% 10%;
  margin-top: 80px;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background-color: rgba(225, 225, 225, 0.193);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  margin-bottom: 16px;

  z-index: 1;

  & a {
    color: rgba(20, 20, 20, 0.644);
    transition: color 600ms ease-out 50ms;
    margin-left: 4px;
    padding: 8px;
    min-width: 98px;

    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  }
  a:hover {
    color: rgb(0, 0, 0);
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    color: rgba(25, 23, 23, 0.644);
    margin: 0;
    padding: 8px;
    font-weight: 600;
    font-size: 0.9rem;
  }
}

.container {
  width: 100vw;
  padding: 16px 162px;

  .navbar_left {
    gap: 16px;
  }

  .navbar_right {
    margin-left: auto;
  }
}

.footer {
  display: flex;
  position: fixed;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  background-color: rgba(225, 225, 225, 0.193);
  backdrop-filter: blur(5px);
  bottom: 0;
  left: 0;
  margin-top: 16px;

  & a {
    color: rgba(20, 20, 20, 0.644);
    transition: color 600ms ease-out 50ms;
    margin-left: 4px;
    padding: 8px;

    font-weight: 300;
    font-size: 0.8rem;
    text-decoration: none;
  }
  a:hover {
    color: rgb(0, 0, 0);
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    color: rgba(25, 23, 23, 0.644);
    margin: 0;
    padding: 8px;
    font-weight: 500;
    font-size: 0.9rem;
  }

  .footer_container {
    display: flex;
    width: 100vw;
    padding: 16px 162px;

    .footer_right {
      margin-left: auto;
      gap: 30px;
    }
  }
}

.pageMain {
  padding-left: auto;

  .mainDiv {
    display: flex;
    flex-direction: column;
    margin: 140px 162px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;

    h1 {
      color: rgba(20, 20, 20, 0.931);
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    h2 {
      color: rgba(20, 20, 20, 0.888);
      font-size: 0.9rem;
      font-weight: 400;
      text-transform: uppercase;
    }

    button {
      border: none;
      background-color: #ea3a3ad4;
      color: white;
      min-width: 75px;
      height: 32px;
      font-size: 0.8rem;
      font-weight: 300;
      transition: border-color 600ms ease-out 50ms;
      border-radius: 4px;
      text-align: center;
      padding: 2px;
    }
    & button:hover {
      cursor: pointer;
      background-color: #ea3a3a;
    }

    p {
      color: rgba(20, 20, 20, 0.897);
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.6mm;
    }

    .divOne {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .divTwo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: auto;
      gap: 8px;
      input {
        width: 606px;
        height: 28px;
        border: none;
        outline: none;
        background-color: rgba(72, 72, 72, 0.354);
        border-radius: 4px;
        color: rgb(24, 24, 24);
        padding: 2px 8px;
      }

      button {
        align-self: center;
        background-color: #ea3a3ad4;
        border: none;
        color: white;
        width: 124px;
        height: 32px;
        font-size: 0.8rem;
        font-weight: 300;
        text-align: center;
        transition: border-color 600ms ease-out 50ms;
        border-radius: 4px;

        padding: 2px 20px;
      }
      & button:hover {
        cursor: pointer;
        background-color: #ea3a3a;
      }
    }
  }
}
